.timeline-container {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(76.8deg, rgba(121, 45, 129, 1) 3.6%, rgba(36, 31, 98, 1) 90.4%);
  .timelines {
    margin-top: 20vh;
    .timeline-item {
      height: 40vh;
      // border: 1px solid red;
      position: relative;
    }
  }
  .timelines * {
    // border: 1px solid red;
  }
}
